---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Network level ad blocking
  pihole:
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: "{% if pihole.domain %}{{ pihole.domain }}{% else %}{{ pihole.subdomain + "." + domain }}{% endif %}"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    networks:
      - traefik_network
    cap_add:
      - NET_ADMIN
    volumes:
      - "{{ volumes_root }}/pihole/config/:/etc/pihole/"
      - "{{ volumes_root }}/pihole/dnsmasq.d/:/etc/dnsmasq.d/"
    environment:
      - WEBPASSWORD={{ default_password }}
      - VIRTUAL_HOST={% if pihole.domain %}{{ pihole.domain }}{% else %}{{ pihole.subdomain + "." + domain }}{% endif %}
      - ServerIP={{ homelab_ip }}
    ports:
      - 53:53/tcp
      - 53:53/udp
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.pihole.loadbalancer.server.scheme=http"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.routers.pihole-http.rule=Host(`{% if pihole.domain %}{{ pihole.domain }}{% else %}{{ pihole.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.pihole-http.entrypoints=http"
{% if not pihole.https_only %}
      - "traefik.http.routers.pihole-http.middlewares={% if pihole.https_only %}redirect@file, {% else %}{% if pihole.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.pihole-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.pihole.rule=Host(`{% if pihole.domain %}{{ pihole.domain }}{% else %}{{ pihole.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.pihole.entrypoints=https"
      - "traefik.http.routers.pihole.middlewares={% if pihole.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.pihole.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.pihole.tls.certresolver=dns"
      - "traefik.http.routers.pihole.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.pihole.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.pihole.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.pihole-tor-http.rule=Host(`{{ pihole.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.pihole-tor-http.entrypoints=http"
      - "traefik.http.routers.pihole-tor-http.middlewares={% if pihole.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
    extra_hosts:
{% for service in services %}
      - {{ service }}.{{ domain }}:{{ homelab_ip }}
{% endfor %}
