---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  bulletnotes_db:
    image: mongo:3.2.21
    networks:
      - traefik_network
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes
    networks:
      - traefik_network
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://{% if bulletnotes.domain %}{{ bulletnotes.domain }}{% else %}{{ bulletnotes.subdomain + "." + domain }}{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.bulletnotes.loadbalancer.server.scheme=http"
      - "traefik.http.services.bulletnotes.loadbalancer.server.port=3000"
      - "traefik.http.routers.bulletnotes-http.rule=Host(`{% if bulletnotes.domain %}{{ bulletnotes.domain }}{% else %}{{ bulletnotes.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.bulletnotes-http.entrypoints=http"
{% if not bulletnotes.https_only %}
      - "traefik.http.routers.bulletnotes-http.middlewares={% if bulletnotes.https_only %}redirect@file, {% else %}{% if bulletnotes.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.bulletnotes-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.bulletnotes.rule=Host(`{% if bulletnotes.domain %}{{ bulletnotes.domain }}{% else %}{{ bulletnotes.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.bulletnotes.entrypoints=https"
      - "traefik.http.routers.bulletnotes.middlewares={% if bulletnotes.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bulletnotes.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.bulletnotes.tls.certresolver=dns"
      - "traefik.http.routers.bulletnotes.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bulletnotes.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.bulletnotes.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.bulletnotes-tor-http.rule=Host(`{{ bulletnotes.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.bulletnotes-tor-http.entrypoints=http"
      - "traefik.http.routers.bulletnotes-tor-http.middlewares={% if bulletnotes.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
