---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Financial Tracker
  firefly_iii_app:
    restart: unless-stopped
    depends_on:
      - firefly_iii_db
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=firefly_iii_db
      - DB_DATABASE=firefly_db
      - DB_USERNAME=firefly_db
      - DB_PORT=5432
      - DB_PASSWORD={{ lookup('password', './settings/passwords/firefly_db_password chars=digits') }}
      - APP_KEY={{ lookup('password', './settings/passwords/firefly_app_key chars=digits length=32') }}
      # Using heroku as APP_ENV, just to ensure generated URIs start with HTTPS, leveraging:
      # https://github.com/firefly-iii/firefly-iii/blob/master/app/Providers/AppServiceProvider.php#L42
      # This fixes issue with SSL termination at traefik, and forces HTTPS URIs everywhere
      - APP_ENV=heroku
      - APP_URL=https://money.{{ domain }}
      - MAIL_DRIVER=smtp
      - MAIL_HOST={{ smtp.host }}
      - MAIL_PORT={{ smtp.port }}
      - MAIL_FROM={{ smtp.from_email }}
      - MAIL_USERNAME={{ smtp.user }}
      - MAIL_PASSWORD={{ smtp.pass }}
      - MAIL_ENCRYPTION=tls
      - TZ={{ common_timezone }}
      - ServerName=money.{{ domain }}
    image: jc5x/firefly-iii
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/firefly/export:/var/www/firefly-iii/storage/export"
      - "{{ volumes_root }}/firefly/upload:/var/www/firefly-iii/storage/upload"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.firefly_iii.loadbalancer.server.scheme=http"
      - "traefik.http.services.firefly_iii.loadbalancer.server.port=80"
      - "traefik.http.routers.firefly_iii-http.rule=Host(`{% if firefly_iii.domain %}{{ firefly_iii.domain }}{% else %}{{ firefly_iii.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.firefly_iii-http.entrypoints=http"
{% if not firefly_iii.https_only %}
      - "traefik.http.routers.firefly_iii-http.middlewares={% if firefly_iii.https_only %}redirect@file, {% else %}{% if firefly_iii.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.firefly_iii-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.firefly_iii.rule=Host(`{% if firefly_iii.domain %}{{ firefly_iii.domain }}{% else %}{{ firefly_iii.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.firefly_iii.entrypoints=https"
      - "traefik.http.routers.firefly_iii.middlewares={% if firefly_iii.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.firefly_iii.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.firefly_iii.tls.certresolver=dns"
      - "traefik.http.routers.firefly_iii.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.firefly_iii.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.firefly_iii.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.firefly_iii-tor-http.rule=Host(`money.{{ tor_domain }}`)"
      - "traefik.http.routers.firefly_iii-tor-http.entrypoints=http"
      - "traefik.http.routers.firefly_iii-tor-http.middlewares={% if firefly_iii.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  firefly_iii_db:
    image: "postgres:12"
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD={{ lookup('password', './settings/passwords/firefly_db_password chars=digits') }}
      - POSTGRES_USER=firefly_db
      - POSTGRES_DB=firefly_db
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/firefly/db:/var/lib/postgresql/data"
