---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  minecraft:
    image: itzg/minecraft-server
    volumes:
      - "{{ volumes_root }}/minecraft/data:/data"
    environment:
      - EULA=TRUE
      - UID={{ uid_output.stdout }}
      - GID={{ gid_output.stdout }}
      - GUI=False
      - CONSOLE=False
      - ONLINE_MODE={{ minecraft.online_mode}}
      - TYPE={{ minecraft.server_type }}
      - VERSION={{ minecraft.server_version }}

    ports:
      - 25565:25565
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.minecraft.loadbalancer.server.scheme=http"
      - "traefik.http.services.minecraft.loadbalancer.server.port=0"
      - "traefik.http.routers.minecraft-http.rule=Host(`{% if minecraft.domain %}{{ minecraft.domain }}{% else %}{{ minecraft.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.minecraft-http.entrypoints=http"
{% if not minecraft.https_only %}
      - "traefik.http.routers.minecraft-http.middlewares={% if minecraft.https_only %}redirect@file, {% else %}{% if minecraft.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.minecraft-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.minecraft.rule=Host(`{% if minecraft.domain %}{{ minecraft.domain }}{% else %}{{ minecraft.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.minecraft.entrypoints=https"
      - "traefik.http.routers.minecraft.middlewares={% if minecraft.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.minecraft.tls=true"
