---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Web Analytics
  app:
    image: matomo
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/matomo/data:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.matomo.loadbalancer.server.scheme=http"
      - "traefik.http.services.matomo.loadbalancer.server.port=80"
      - "traefik.http.routers.matomo-http.rule=Host(`{% if matomo.domain %}{{ matomo.domain }}{% else %}{{ matomo.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.matomo-http.entrypoints=http"
{% if not matomo.https_only %}
      - "traefik.http.routers.matomo-http.middlewares={% if matomo.https_only %}redirect@file, {% else %}{% if matomo.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.matomo-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.matomo.rule=Host(`{% if matomo.domain %}{{ matomo.domain }}{% else %}{{ matomo.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.matomo.entrypoints=https"
      - "traefik.http.routers.matomo.middlewares={% if matomo.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.matomo.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.matomo.tls.certresolver=dns"
      - "traefik.http.routers.matomo.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.matomo.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.matomo.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.matomo-tor-http.rule=Host(`{{ matomo.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.matomo-tor-http.entrypoints=http"
      - "traefik.http.routers.matomo-tor-http.middlewares={% if matomo.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  matomo_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/matomo/db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD=matomo
      - MYSQL_USER=matomo
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/matomo_db_password chars=digits')}}
      - MYSQL_DATABASE=matomo
