---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: sebp/elk
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.elkstack.loadbalancer.server.scheme=http"
      - "traefik.http.services.elkstack.loadbalancer.server.port=5601"
      - "traefik.http.routers.elkstack-http.rule=Host(`{% if elkstack.domain %}{{ elkstack.domain }}{% else %}{{ elkstack.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.elkstack-http.entrypoints=http"
{% if not elkstack.https_only %}
      - "traefik.http.routers.elkstack-http.middlewares={% if elkstack.https_only %}redirect@file, {% else %}{% if elkstack.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.elkstack-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.elkstack.rule=Host(`{% if elkstack.domain %}{{ elkstack.domain }}{% else %}{{ elkstack.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.elkstack.entrypoints=https"
      - "traefik.http.routers.elkstack.middlewares={% if elkstack.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.elkstack.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.elkstack.tls.certresolver=dns"
      - "traefik.http.routers.elkstack.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.elkstack.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.elkstack.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.elkstack-tor-http.rule=Host(`{{ elkstack.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.elkstack-tor-http.entrypoints=http"
      - "traefik.http.routers.elkstack-tor-http.middlewares={% if elkstack.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
